.App {
  width: 30%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.input {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.input input {
  width: 50%;
}
.input button {
  margin-left: 10px;
}
.todosList {
  padding: 0;
}
.listItems {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 8px;
}
